:root {
    --gradient-start: #000000;
    --gradient-mid: #2A1E36;
    --gradient-end: #3A2152;
}

body {
    background: radial-gradient(circle at top left, var(--gradient-start), var(--gradient-mid), var(--gradient-end)) fixed;
    min-height: 100vh;
    margin: 0;
}